mkdocs
mkdocs-material
mkdocs-glightbox
mkdocs-minify-plugin
mkdocstrings-python
mkdocs-git-revision-date-localized-plugin
mkdocs-material-extensions
mkdocs-izsam-video
mkdocstrings
mkdocs-jupyter
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin-2
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-section-index
